@tailwind base;
@tailwind components;

/*
  Base styles
*/

@keyframes pulse {
  0%,
  100% {
    background-color: #4b5563; /* gray-600 */
  }
  50% {
    background-color: #374151; /* gray-700 */
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.custom-scrollbar {
  @apply scrollbar-thin scrollbar-track-collectible-medium-purple scrollbar-thumb-collectible-purple-borders/30 scrollbar-track-rounded scrollbar-thumb-rounded;
}

body {
  @apply custom-scrollbar bg-collectible-medium-purple;
}

.Calendar {
  @apply bg-collectible-medium-purple !important;
  box-shadow: none !important;
}

.Calendar__header {
  @apply text-gray-strong !important;
}

.Calendar__day.-weekend:not(.-selected):not(.-blank):not(.-selectedStart):not(
    .-selectedEnd
  ):not(.-selectedBetween) {
  @apply text-collectible-purple !important;
}

.Calendar__day {
  @apply text-gray-medium !important;
}

/* When last, this ensures inline styles take priority */
@tailwind utilities;
